USE [bd_grupo_8]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 24/07/2022 19:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[Matricula] [varchar](10) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Grupo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlumnoExamen]    Script Date: 24/07/2022 19:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoExamen](
	[Nota] [float] NULL,
	[Matricula] [varchar](10) NOT NULL,
	[N] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC,
	[N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlumnoPractica]    Script Date: 24/07/2022 19:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoPractica](
	[Nota] [float] NULL,
	[Fecha] [date] NULL,
	[Matricula] [varchar](10) NOT NULL,
	[P] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC,
	[P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 24/07/2022 19:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[Fecha] [date] NULL,
	[Npreguntas] [int] NULL,
	[N] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Practica]    Script Date: 24/07/2022 19:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Practica](
	[Dificultad] [varchar](10) NULL,
	[Titulo] [varchar](10) NULL,
	[P] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 24/07/2022 19:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[CC] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfesorPractica]    Script Date: 24/07/2022 19:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfesorPractica](
	[Fecha] [date] NULL,
	[P] [int] NOT NULL,
	[CC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[P] ASC,
	[CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlumnoExamen]  WITH CHECK ADD FOREIGN KEY([Matricula])
REFERENCES [dbo].[Alumno] ([Matricula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlumnoExamen]  WITH CHECK ADD FOREIGN KEY([N])
REFERENCES [dbo].[Examen] ([N])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlumnoPractica]  WITH CHECK ADD FOREIGN KEY([Matricula])
REFERENCES [dbo].[Alumno] ([Matricula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlumnoPractica]  WITH CHECK ADD FOREIGN KEY([P])
REFERENCES [dbo].[Practica] ([P])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfesorPractica]  WITH CHECK ADD FOREIGN KEY([CC])
REFERENCES [dbo].[Profesor] ([CC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfesorPractica]  WITH CHECK ADD FOREIGN KEY([P])
REFERENCES [dbo].[Practica] ([P])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
